* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

html {
    scroll-behavior: smooth;
    /* Caso precisar clicar em um botão que desca nossa tela para um outra seção, faça essa transição de forma suave */
}

body {
    overflow-x: hidden;
    /* O conteúdo ficará do tamnaho da tela, impedindo que tenha aquela barra de scroll em baixo da tela para rolagem */
}

header {
    background-image: linear-gradient(to right, #4a1e1b, #985A3E);
    /* Este parâmetro faz com que comece um tom de cor mais forte do lado direito */
    color: #FFFFFF;
    /* Cor da nossa fonte */
    padding: 0 2rem;
    /* espaçamento interno */
    height: 4.8rem;
    /* Altura do nosso header */
    width: 100%;
    display: grid;
    align-items: center;
    /* Alinhando tudo ao center */
}

.container-header {
    padding: 0.5rem 1rem;
    /* Espaçamento interno */
    display: flex;
    /* Colocar os itens ao lado */
    justify-content: space-between;
    /* Afastar os itens de lado oposto da tela */
    align-items: center;
    /* Alinhar ao centro */
}

.box-logo p {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.05rem;
    padding: 0 20px 5px 0;
}

.img-logo {
    width: 4.0rem;
    border-radius: 50%;
}

.box-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    /* Colocar um ao lado do outro */
    list-style-type: none;
    /* Tirar aquela bolinha que tem na lista */
    gap: 1.8rem;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-size: 1.45rem;
    line-height: 1.75rem;
}

.menu-link:hover {
    transition-duration: 200ms;
    transition-duration: 500ms;
    transform: scale(1.08);
}

.button-header {
    background-color: #8F461F;
    border-radius: 20px;
    border: 3px solid #cc9374;
    padding: 5px 1rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button-header:hover {
    transform: scale(1.05);
    /* Faz com que o button tenha aquele movimento de cresce e diminuir quando colocamos o mouse em cima */
    transition-duration: 200ms;
    /* O tempo de trasição que a gente quer que ele faça esse movimento, tornando algo mais suave */
    cursor: pointer;
}

.img-button-header {
    width: 1.3rem;
}

main {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    padding: 0 50px;

}

.container-main {
    padding: 2.5rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Criou duas colunas iguais e dividiu a o texto em uma e a imagem em outra */
    align-items: center;
    /* Centralizou nossa imagem */
    text-align: center;
    /* Centralizou nosso texto */
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
}

span {
    color: #9E5524;
    font-family: "Yatra One", system-ui;
}

.button-main {
    background: linear-gradient(to right, #854d3d, #4a1e1b);
    /* Faz um degrade no nosso button */
    font-size: 1rem;
    border: 2px solid #854d3d;
    margin-top: 10px;
    padding: 10px 15px;
    /* Espaçamento dentro do nosso button */
    border-radius: 9999px;
    /* Nosso button ficar com a borda redonda */
    color: #FFFFFF;
    /* Cor da nossa fonte dentro do button */
    text-align: center;
    /* Centralizar nosso texto */
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    /* Que nossa transição demore 2 segundos e seja de dentro pra fora */
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        /* Criando a estilização do button dentro da nossa class */
    }
}

.img-main {
    width: 500px;
    transform: scale(1.25);
    animation: balanco 8s linear infinite;
    /* Criando nossa animação da imagem */
}

@keyframes balanco {

    /* Nossa animação */
    0% {
        transform: rotate(0deg);
        /* Começando nossa animação */
    }

    50% {
        transform: rotate(15deg);
        /* No meio da nossa animação, fazer o giro */
    }

    100% {
        transform: rotate(0deg);
        /* Fim da nossa animação, retornando a posição inicial */
    }
}

.container-section {
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    min-height: 600px;
}

.box-section {
    text-align: center;
    margin: 0 auto 5rem;
    padding: 1rem 3rem;
    border-bottom: 2px solid #270c03;
    border-top: 2px solid #270c03;
}

.tittle-h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #270c03;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    place-items: center;
}

.blur-card {
    box-shadow: 0 0.25rem 1rem rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: #854d3d;
    transition: all 0.5s ease;
    max-width: 300px;
    position: relative;
    color: #FFFFFF;
}

.blur-card:hover {
    background: #E8C372;
    color: #270c03;
}

.img-card {
    height: 122px;
}

.img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    transform: translateY(-3.5rem);
    transition: transform 0.3s ease, scale 0.3s ease;
}

.blur-card:hover .img {
    transform: translateY(-3.5rem) scale(1.05) rotate(6deg);
}

.cappucino-frozen {
    width: 200px;
    height: 180px;
}

.cafe-especial {
    min-height: 180px;
    padding-top: 20px;
}

.cappucino {
    min-height: 180px;
    padding-top: 15px;
}

.tittle-h3 {
    padding: 1rem;
    text-align: center;
}

.text-h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
}

.text-p {
    color: #ffffff;
    line-height: 1.25rem;
    font-size: 0.90rem;
    font-weight: 300;
    text-align: center;
    transition: all 0.7s ease;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blur-card:hover .text-p {
    color: #270c03;
    font-weight: 600;
}

footer {
    background-color: #461708;
    min-height: 120px;
    padding: 1rem;
}

footer p {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.05rem;
    padding: 0 20px 5px 0;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-footer {
    width: 2.5rem;
    border-radius: 50%;
}

.footer-p {
    color: #E8C372;
    font-weight: 400;
    font-size: 1rem;
    gap: 0.4rem;
}

.footer-p .linkedin {
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
}


@media screen and (max-width: 1040px) {
    .box-logo p {
        font-size: 1.4rem;
    }

    .menu-list {
        display: none;
    }

    .img-main {
        margin-top: 20px;
    }
}

@media screen and (max-width: 541px) {

    .box-logo p {
        font-size: 1rem;
    }

    footer {
        padding: 0.5rem;
    }

    .footer-p {
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer-p .linkedin {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 461px) {
    .container-header {
        padding: 0.2rem;
    }

    .img-logo {
        width: 2.9rem;
    }

    .button-header {
        gap: 0.2rem;
    }
    
    footer p {
        text-align: center;
    }
}

@media screen and (max-width: 1251px) {
    h1 {
        font-size: 3rem;
    }

    .img-main {
        width: 500px;
    }
}

@media screen and (max-width: 1026px) {
    h1 {
        font-size: 3.2rem;
    }

    .img-main {
        width: 480px;
    }
}

@media screen and (max-width: 975px) {
    main {
        min-height: 550px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .text-h1 {
        text-align: center;
    }

    h1 {
        font-size: 3.2rem;
    }

    .img-main {
        width: 380px;
    }

    .img-footer {
        width: 2.3rem;
    }

    footer p {
        font-size: 1.5rem;
        padding: 0;
    }

    .footer-p {
        font-size: 0.8rem;
    }

    .footer-p .linkedin {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 595px) {
    h1 {
        font-size: 1.8rem;
    }

    .img-main {
        width: 240px;
    }
}

@media screen and (max-width: 920px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5rem;
    }

    .container-footer {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 683px) {
    header {
        padding: 0;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3.5rem;
    }

    .button-header {
        padding: 5px 10px;
        font-size: 1rem;
        border: 2px solid #cc9374;
    }
}

@media screen and (max-width: 483px) {
    .tittle-h2 {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 655px) {
    .footer-p {
        font-size: 0.6rem;
    }

    .footer-p .linkedin {
        font-size: 0.6rem;
    }
}