*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth; /* Caso precisar clicar em um botão que desca nossa tela para um outra seção, faça essa transição de forma suave */
}

body {
    overflow-x: hidden; /* O conteúdo ficará do tamnaho da tela, impedindo que tenha aquela barra de scroll em baixo da tela para rolagem */
}

header {
    background-image: linear-gradient(to right, #4a1e1b, #4a1e1be6); /* Este parâmetro faz com que comece um tom de cor mais forte do lado direito */
    color: #FFFFFF; /* Cor da nossa fonte */
    padding: 0 2rem; /* espaçamento interno */
    height: 4.8rem; /* Altura do nosso header */
    width: 100%;
    display: grid; 
    align-items: center; /* Alinhando tudo ao center */
}

.container-header {
    padding: 0.5rem 1rem; /* Espaçamento interno */
    display: flex; /* Colocar os itens ao lado */
    justify-content: space-between; /* Afastar os itens de lado oposto da tela */
    align-items: center; /* Alinhar ao centro */
}

.box-logo {
    display: flex;
    margin: 0 10px;
}

.box-logo a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 0.05rem;
    padding: 0 20px 5px 0;
}

.img-logo {
    width: 4.0rem;
    border-radius: 50%;   
}

.box-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px;
}

.menu-list {
    display: flex;
    flex-direction: row; /* Colocar um ao lado do outro */
    list-style-type: none; /* Tirar aquela bolinha que tem na lista */
    gap: 2rem;
}

.menu-link {
    text-decoration: none;
    color: #ffffffb3;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.menu-link:hover {
    color: #FFFFFF;
    transition-duration: 500ms;
}

.button-header {
    background-color: #784438;
    border: none;
    border-radius: 20px;
    padding: 5px 1rem;
    color: #FFFFFF;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button-header:hover {
    transform: scale(1.05); /* Faz com que o button tenha aquele movimento de cresce e diminuir quando colocamos o mouse em cima */
    transition-duration: 200ms; /* O tempo de trasição que a gente quer que ele faça esse movimento, tornando algo mais suave */
    cursor: pointer;
}

.img-button-header {
    width: 1.3rem;
}

main {
    min-height: 600px;
    padding: 0 50px;
    background-color: #ffffffb3;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #270c03;
}

.container-main {
    padding: 1.5rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Criou duas colunas iguais e dividiu a o texto em uma e a imagem em outra */
    align-items: center; /* Centralizou nossa imagem */
    text-align: center; /* Centralizou nosso texto */
}

.text-h1 {
    text-align: start;
    
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

.button-main {
    background: linear-gradient(to right, #854d3d, #4a1e1b); /* Faz um degrade no nosso button */
    border: 2px solid #854d3d;
    margin-top: 10px;
    padding: 10px 15px; /* Espaçamento dentro do nosso button */
    border-radius: 9999px; /* Nosso button ficar com a borda redonda */
    color: #FFFFFF; /* Cor da nossa fonte dentro do button */
    text-align: center; /* Centralizar nosso texto */
    display: inline-block; 
    transition: transform 0.2s ease-in-out; /* Que nossa transição demore 2 segundos e seja de dentro pra fora */
    cursor: pointer;

    &:hover {
        transform: scale(1.05); /* Criando a estilização do button dentro da nossa class */
    }
}

.img-main {
    width: 550px;
    transform: scale(1.25);
    animation: balanco 8s linear infinite; /* Criando nossa animação da imagem */
}

@keyframes balanco { /* Nossa animação */
    0% {
        transform: rotate(0deg); /* Começando nossa animação */
    }

    50% {
        transform: rotate(15deg); /* No meio da nossa animação, fazer o giro */
    }

    100% {
        transform: rotate(0deg); /* Fim da nossa animação, retornando a posição inicial */
    }
}

.container-section {
    padding: 2.5rem 3rem;
    margin: 0 auto;
    min-height: 600px;
}

.box-section {
    text-align: center;
    margin: 0 auto 5rem;
    padding: 0 3rem;
    border: 2px solid #270c03;
}

.tittle-h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #4a1e1b ;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    place-items: center;
}

.blur-card {
    box-shadow: 0 0.25rem 1rem rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: #854d3d;
    transition: all 0.5s ease;
    width: 300px;
    position: relative;
    color: #FFFFFF;
}

.blur-card:hover {
    background: #BC9E79;
    color: #270c03;
}

.img-card {
    height: 122px;
}

.img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    transform: translateY(-3.5rem);
    transition: transform 0.3s ease, scale 0.3s ease;
}

.blur-card:hover .img{
    transform: translateY(-3.5rem) scale(1.05) rotate(6deg);
}

.cappucino-frozen {
    width: 200px;
    height: 160px;
}

.tittle-h3 {
    padding: 1rem;
    text-align: center;
}

.text-h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
}

.text-p {
    color: #ffffff;
    line-height: 1.25rem;
    font-size: 0.90rem;
    font-weight: 500;
    text-align: center;
    transition: all 0.7s ease;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blur-card:hover .text-p {
    color: #000000;
}


@media screen and (max-width: 921px) {
    .box-logo a {
        font-size: 1.4rem;
    }

    .menu-list {
        display: none;
    }
}

@media screen and (max-width: 541px) {
    header {
        padding: 0;
    }

    .box-logo a {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 461px) {
    .container-header {
        padding: 0.2rem;
    }

    .box-logo a {
        font-size: 0.9rem;
    }

    .img-logo {
        width: 2.9rem;
    }

    .button-header {
        gap: 0.2rem;
    }
}

@media screen and (max-width: 1251px){
    h1 {
        font-size: 3.5rem;
    }

    .img-main {
        width: 500px;
    }
}

@media screen and (max-width: 1026px){
    h1 {
        font-size: 3.2rem;
    }

    .img-main {
        width: 480px;
    }
}

@media screen and (max-width: 975px){
    main {
        min-height: 550px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .text-h1 {
        text-align: center;
    }

    h1 {
        font-size: 3.2rem;
    }

    .img-main {
        width: 380px;
    }
}

@media screen and (max-width: 595px){
    h1 {
        font-size: 1.8rem;
    }

    .img-main {
        width: 240px;
    }
}